@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

a {
  text-decoration: none;
}

.menu-box {
  position: absolute;
  height: 100%;
  transition: all 0.3s;
  aside {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    background-color: #0098e0;
    height: 100%;
    width: 15vw;
    h1 {
      font-family: 'Kanit', serif;
      font-size: 2.5rem;
      color: #fff;
      text-align: center;
    }
    ul {
      list-style: none;
      width: 100%;
      li {
        width: 100%;
        font-size: 1.5rem;
        font-weight: 700;
        padding: 1rem 3rem;
        cursor: pointer;
        &:hover {
          border: 3px solid #fff;
          padding: calc(1rem - 3px) calc(3rem - 3px);
        }
        .menu-link {
          display: flex;
          color: #fff;
          p {
            flex-grow: 1;
          }
        }
      }
    }
  }

  .menu-btn {
    background-color: #0098e0;
    border: 5px solid #fff;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 3rem;
    vertical-align: top;
    padding: 0 0.5rem;
    .menu-icon {
      vertical-align: middle;
    }
  }
}

.menu-hidden {
  transform: translateX(-15vw);
}

.content-box {
  height: 100vh;
  width: 70vw;
  margin: 0 auto;
  padding: 5% 5%;
}

.background {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
