@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.background {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.main-page-title {
  font-family: 'Kanit', serif;
  font-size: 3rem;
  color: #0098e0;
  display: inline-block;
}

.current-date {
  margin-top: 2rem;
  font-size: 1.7rem;
  font-weight: 700;
  align-self: center;
}

.main-data {
  width: 30rem;
  margin: 0 auto;
  margin-top: 10rem;
  padding: 1rem;
  border: 3px solid #0098e0;
  border-radius: 10px;
  display: inline-block;
}

.T1H-data {
  font-size: 5rem;
  color: #0098e0;
}

.SKY-data {
  font-size: 3rem;
}

.wrap-PTY-RN1 {
  font-size: 3rem;
  display: flex;
}

.PTY-data {
  margin-right: 2rem;
}

.WSD-data {
  font-size: 3rem;
  color: #0098e0;
}
