.background {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.keyword-search-box {
  margin-top: 1rem;
  display: flex;
  width: 100%;
  input {
    height: 4rem;
    flex-grow: 9;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 1rem;
    margin-right: 0.5rem;
    border-radius: 10px;
    outline: none;
    border: 2px solid black;
    &:focus {
      border-color: #0098e0;
    }
  }
  button {
    all: unset;
    text-align: center;
    border: 2px solid black;
    width: 7%;
    background-color: #fff;
    cursor: pointer;
    border-radius: 10px;
    overflow: hidden;
    &:hover {
      background-color: #0098e0;
      color: #fff;
      border-color: #0098e0;
    }
    .search-icon {
      vertical-align: middle;
    }
  }
}

.region-list {
  position: absolute;
  list-style: none;
  background-color: #fff;
  border: 2px solid black;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  max-height: 20rem;
  width: 100%;
  max-width: 100%;
  overflow-y: scroll;
  z-index: 2;
}

.region {
  padding: 0.3rem 1rem;
  cursor: pointer;
  &:nth-child(even) {
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
  }
  &:hover {
    background-color: #0098e0;
    color: #fff;
  }
}

.current-location {
  margin-top: 0.5rem;
  border: 2px solid black;
  border-radius: 10px;
  padding: 0.5rem;
  cursor: pointer;
  &:hover {
    background-color: #0098e0;
    color: #fff;
    border-color: #0098e0;
  }
  .current-location-icon {
    vertical-align: middle;
    margin-right: 0.5rem;
  }
}

.today-data {
  margin-top: 1rem;
  width: 100%;
}

.today-data-list {
  width: 100%;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  border-collapse: collapse;
  th,
  td {
    white-space: nowrap;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    text-align: center;
    padding: 0.5rem 1rem;
  }
}
