.background {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.region-search-box {
  margin-top: 1rem;
  display: flex;
  width: 100%;
  input {
    height: 4rem;
    flex-grow: 9;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 1rem;
    margin-right: 0.5rem;
    border-radius: 10px;
    outline: none;
    border: 2px solid black;
    &:focus {
      border-color: #0098e0;
    }
  }
  button {
    all: unset;
    text-align: center;
    border: 2px solid black;
    width: 7%;
    background-color: #fff;
    cursor: pointer;
    border-radius: 10px;
    overflow: hidden;
    &:hover {
      background-color: #0098e0;
      color: #fff;
      border-color: #0098e0;
    }
    .search-icon {
      vertical-align: middle;
    }
  }
}

.current-location {
  margin-top: 0.5rem;
  border: 2px solid black;
  border-radius: 10px;
  padding: 0.5rem;
  cursor: pointer;
  &:hover {
    background-color: #0098e0;
    color: #fff;
    border-color: #0098e0;
  }
  .current-location-icon {
    vertical-align: middle;
    margin-right: 0.5rem;
  }
}
